[submodule "verusd"]
	path = verusd
	url = https://github.com/imylomylo/verusd
[submodule "py-verus-node-rpc"]
	path = py_verus_node_rpc
	url = https://github.com/imylomylo/py-verus-node-rpc
[submodule "automation"]
	path = automation
	url = https://github.com/imylomylo/automation.git
